python-dotenv
pydantic

# For File,Excel
magika
pillow
python-docx
python-dotenv
python-pptx
openpyxl
markdown
pdfminer.six
beautifulsoup4
chardet
aiofiles

#ｆor ZIP
pyzipper

# For MCP
fastmcp

# For API
fastapi
